div(class="container-fluid")
  div(class="row")
    div(class="col-sm-offset-2 col-sm-8")
      div(class="page-header")
        h1
          img(src="http://icons.iconarchive.com/icons/iconsmind/outline/512/Bird-icon.png",
            width="40px")
          | Peregrine
          small  Follow the stuff you care about.
      form
        p
          div(class="input-group")
            input(placeholder='What do you want to follow?', size="30" class="form-control")
            span(class="input-group-btn")
              input(type="button", value="Search", class="btn btn-default")

        ul(class="row")
          li(ng-repeat="result in search.results")
            img(ng-src="{{result.image}}")
            | {{result.title}}
